<a href="https://colab.research.google.com/github/algsn/-/blob/main/M2_DAA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
print(np.__version__)

1.23.5

# Big O Notation
##Constan time (O(1)) complexcy

In [ ]:
import numpy as np

a = [1, 2, 3]
b = [4, 5, 6]

# Ubah list menjadi array NumPy
array_a = np.array(a)
array_b = np.array(b)

# Jumlahkan dua array
hasil = array_a + array_b

print(hasil)

[5 7 9]

In [ ]:
import numpy as np
#membuat array
nilai_siswa = np.array([85,55,40,90])

#mengakses data pada array
print(nilai_siswa[3])

90

In [ ]:
# terdapat list a dan b
a = [1, 2, 3]
b = [4, 5, 6]




# lalu jumlahkan
hasil = a + b

print(hasil) # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# terdapat list a dan b
a = [1, 2, 3]
b = [4, 5, 6]

def add(a, b):
  result = []
  for first, second in zip(a, b):
    result.append(first + second)
  return result
add(a,b)

[5, 7, 9]

In [ ]:
print("Hello, World!")
print("Nama saya (algisna)")
print("NIM saya (27)")

Hello, World!
Nama saya (algisna)
NIM saya (27)

In [ ]:
if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:

x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4
x = "Sally"
print(x)

Sally

In [ ]:
def getFirst(myList):
    return myList[0]
getFirst([1,2,3])

1

In [ ]:
def getFirst(myList):
    return myList[2]
getFirst([1,2,3])

3

In [ ]:
def getFirst(myList):
    return myList[1]
getFirst([1,2,3])

2

In [ ]:
def getSum(myList):
  sum = 0
  for item in myList:
    sum = sum+item
  return sum

getSum([1,2,3,4])

10

In [ ]:
def getKali(myList):
  kali = 1
  for item in myList:
    kali = kali*item
  return kali

getKali([1,2,3,4])

24

In [ ]:
def getBagi(myList):
  bagi = 1
  for item in myList:
    bagi = bagi/item
  return bagi

getBagi([1,2,3,4])

0.041666666666666664

In [ ]:
def getSum(myList):
  sum = 0
  for row in myList:
    for item in row:
        sum += item
  return sum

getSum([[1,2,5],[3,4,7]])

22

In [ ]:
def getSum(myList):
  sum = 1
  for row in myList:
    for item in row:
        sum = item
  return sum

getSum([[1,2,5],[3,4,7]])

-21

In [ ]:
def bagi(list_a, list_b):
 result = []
 for first, second in zip(list_a, list_b):
  result.append(first/second)
 return result

bagi([1,2,3,4], [5,6,7,8])

[0.2, 0.3333333333333333, 0.42857142857142855, 0.5]

In [ ]:
def Kali(list_a, list_b):
 result = []
 for first, second in zip(list_a, list_b):
  result.append(first*second)
 return result

kali([1,2,3,4], [5,6,7,8])

[5, 12, 21, 32]

In [ ]:
def Sum(list_a, list_b):
 result = []
 for first, second in zip(list_a, list_b):
  result.append(first-second)
 return result

Sum([1,2,3,4], [5,6,7,8])

[-4, -4, -4, -4]

In [ ]:
def searchBinary(myList,item):
    first = 0
    last = len(myList)-1
    foundFlag = False
    while( first <=last and not foundFlag):
      mid = (first + last)//2
      if myList[mid] == item :
        foundFlag = True
      else:
        if item < myList[mid]:
          last = mid - 1
        else:
          first = mid + 1
    return foundFlag

searchBinary([8,9,10,100,1000,2000,3000], 10)

True

In [ ]:
# terdapat list a dan b
a = [1, 2, 3]
b = [4, 5, 6]




# lalu jumlahkan
hasil = a + b

print(hasil) # [1, 2, 3, 4, 5, 6]

In [ ]:
def getSum(numbers):
    # Fungsi ini akan menjumlahkan semua angka dalam himpunan
    total = sum(numbers)
    return total

def divideSets(set1, set2):
    # Memeriksa apakah salah satu himpunan kosong
    if not set1 or not set2:
        return None

    # Menghitung jumlah angka dalam masing-masing himpunan
    sum_set1 = getSum(set1)
    sum_set2 = getSum(set2)

    # Membagi himpunan dengan rasio jumlah angka
    ratio = sum_set1 / sum_set2
    result_set1 = [x / ratio for x in set1]
    result_set2 = [x for x in set2]

    return result_set1, result_set2

# Contoh penggunaan
set1 = [1, 2, 3, 4, 5]
set2 = [6, 7, 8, 9, 10]

result_set1, result_set2 = divideSets(set1, set2)

print("Setelah pembagian:")
print("Set 1:", result_set1)
print("Set 2:", result_set2)

Setelah pembagian:
Set 1: [2.6666666666666665, 5.333333333333333, 8.0, 10.666666666666666, 13.333333333333334]
Set 2: [6, 7, 8, 9, 10]